<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rex50.mausam">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MausamApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".views.activities.auto_wallpaper.ActAutoWallpaper"
            android:exported="true" />
        <activity android:name=".views.activities.ActImageEditor" />
        <activity android:name=".views.activities.ActSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activities.ActSearchCity" />
        <activity android:name=".views.activities.ActOnBoard" />
        <activity android:name=".views.activities.photos.ActPhotosList" />
        <activity android:name=".views.activities.ActPermission" />
        <activity android:name=".views.activities.ActMain" />
        <activity android:name=".views.activities.collections.ActCollectionsList" />
        <activity android:name=".views.activities.settings.ActSettings" />
        <activity android:name=".views.activities.ActUsedResourcesAndLibraries" />
        <activity android:name=".views.activities.neon_editor.ActNeonEditor" />
        <activity android:name=".views.activities.portrait_mode.ActPortraitEditor"/>

        <receiver
            android:name=".receivers.NetworkChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_STATE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>